body{background-color:pink;}
.text{margin-top:40px;}
.text input{width:50%;height:4%;
margin-bottom:18px;
margin-left:10px;}
.text1  input{width:40%;
margin-left:10px;}
.text2 input[type="submit"]
{
border:none;
outline:none;
height:40px;
width:50%;
background:blue;
color:black;
font-size:18px;
border-radius:40px;}
.text2 input[type="submit"]:hover
{
background:red;}