*{margin:0;
padding:0;
font-family:century guthic;
}
.img{
margin-top:2%;}
.text{margin-top:-12%;
font-size:150%;}

table{margin-top:5%;
margin-left:1%;}
table tr td h2{transform:translate(-50% -50%);
letter-spacing:1 </tr> %;
font-size:20px;
table-style-type:none;
color:black;
}


.title{
position:absolute;
top:35%;

left:25%;
transform:translate(-50% -50%);

}
.title h1{
color:black;
font-size:55px;
font-weight:300;
letter-spacing:-1px;
}
.title p{
color:black;
font-size:25px;
margin-top:-4%;
text-allign:center;


}
.image{
position:absolute;
top:50%;
left:50px;


}
